<h3>Adding New Article</h3>
<%= form_for @article,:html => {:class=>"form-horizontal",:role=> "form"} do |f|%>
<%= f.label :title %>
<%= f.text_field :title%>
<%= f.label :body %>
<%= f.text_area :body%>
<%= f.submit %>
<% end %>